	<!DOCTYPE html>
	<html ng-app="guessApp">
	  <head>
		<meta charset="utf-8">
		<title>Guess What is The Number?</title>
		<link rel="icon" href="assets/images/favicon.png" type="image/png" >
	    <link rel="stylesheet" href="vendor/angularjs/css/angular-csp.css">
        <link rel="stylesheet" href="vendor/angularjs/css/angular-ui-notification.min.css">
		<link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
	  </head>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
	<body class="bg">
		<div style="width:100%;background-color: #ecf0f1;margin-top:-10px;padding:15px;display:none;" id="main-title"><span class="span" >Guess The Number</span>
			<font style="float:right;">
			<span class="step " id="span-1">&nbsp;</span><span class="step" id="span-2">&nbsp;</span>
			<span class="step" id="span-3">&nbsp;</span><span class="step" id="span-4">&nbsp;</span><span class="step " id="span-5">&nbsp;</span></font>
		</div>

		<div style="width:100%;background-color: #ecf0f1;margin-top:-10px;padding:45px;" id="jst-title">
		<center><span class="span" style="font-size:35px;">Guess The Number</span></center>
		</div>
		
		<div class="select-pg col-xs-12" id="select-pg" style="padding-top:180px;padding-bottom:0px" >

				<div style="height:100%;width:33%" class="cards col-xs-3" onclick="setMaximun(10)">
				<div class="normal card-body"> <center>0 - 10</center></div>
				<div class="card-title "> <center>Normal</center></div>
				</div>

				<div style="height:100%;width:33%" class="cards col-xs-3" onclick="setMaximun(50)">
				<div class="medium card-body"> <center>0 - 50</center></div>
				<div class="card-title "> <center>Medium</center></div>
				</div>

				<div style="height:100%;width:33%" class="cards col-xs-3" onclick="setMaximun(100)">
				<div class="hard card-body"> <center>0 - 100</center></div>
				<div class="card-title "> <center>Hard</center></div>
				</div>
		</div>

		<div class="guess " id="guess" style="padding-top:250px;display:none; ">	
			<div class="align-center" ng-controller="guessController">
				<form name="myform">
					<ul>
						<li><div class="group">
							<input type="text" ng-model='number' ng-required="true" id="text"
									onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="10">
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Enter Guessing Number</label>
						</div></li>
						<li> <button  class="round-button" ng-click="myform.$valid && guessTheNumber()"><i class="fa fa-play "></i></button></li>
					</ul>
			  </form>	
			</div>
		</div>

		<div id="correct" style="display:none; width:100%;height:100%;padding:250px;padding-left:300px;padding-right:300px">
			<div class="alert alert-success">		
			<strong>Success!</strong> You gussed in <span id="guess-count"></span> chances .
			 <br>
			The Number is <span class="thenumber"></span>
			<br><center><span onclick="tryAgin()" class="tryAgian">Try agin</span></center>
		  </div>
		</div>

		<div id="error" style="display:none; width:100%;height:100%;padding:250px;padding-left:300px;padding-right:300px">
			<div class="alert alert-danger">
			<strong>Ooops</strong> You did n't guss the number. <br>
			The Number is <span class="thenumber"></span>
			<br><center><span onclick="tryAgin()" class="tryAgian">Try agin</span></center>
		  </div>
		</div>

		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/angularjs/js/angular.min.js"></script>
        <script src="vendor/angularjs/js/angular-ui-notification.min.js"></script> 
		<script src='vendor/voice/responsivevoice.js'></script>
        <script src="assets/js/main.js"></script>

	</body>
</html>
